
## folders
.venv/
.env/
__pycache__/
*/__pycache__/
.pytest_cache/
*/.pytest_cache/
.mypy_cache/
.ruff_cache/

## files
*.pyc
*.log
my.db
*.log.zip
my_install.sh
.pre-commit-config.yaml
.DS_Store
.env
.dev.env
.vars
.secrets
event.json

# test file
test.py
*.session
*.session-journal
